button {
    background-color: whitesmoke;
    color: blue;
    border: 2px solid blue;
    font-size: 14px;
    padding: 5px 10px 5px 10px; 
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.14);
    opacity: 0.7;
  }
  

