body {
  background-color: lightgray;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 2px;
  color: darkblue;
}

.top {
  background-color: black;
  color: white;
}

.middle {
  background-color: lightgray;
  color: darkblue;
}

.bottom {
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  width: 1600px;
}

.fortune {
  display: flex;
  justify-content: space-around;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: center;
  padding-left: 15px;
  padding-bottom: 5px;
}

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  align-content: center;
  padding-top: 30px;
}

form {
  display: flex;
  color: blue;
  font-size: 18px;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 20px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: whitesmoke;
  color: blue;
  border: 2px solid blue;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  opacity: 0.75;
}

.submit {
  background-color: whitesmoke;
  color: blue;
  border: 2px solid blue;
  font-size: 14px;
  padding: 5px 1px 5px 1px;
  margin: 1px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  opacity: 0.75;
}

#fortuneButton {
  padding-left: 100px;
  padding-right: 100px;
}

.roulet {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 1px;
}

.box-item {
  color: darkblue;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

#my-card {
 width: 900px;
  background-color: lightcyan;
  border: 1px solid black;
  /* padding: 
    5px 
    1100px 
    50px 
    5px; */
  margin: 
    30px 
    30px 
    30px 
    30px;
  opacity: 0.45;

}

#compliment {
   font-size: 20px;
  color: red;
}

#message {
    font-size: 20px;
  color: green;
}

#fortune {
    font-size: 20px;
  color: gray;
}
